:root {
  --main-color: #209cee;
  --main-color__30_tr: #209cee5e;
}

.DayPicker {
  font-size: 1.6rem;
  box-shadow: 1px -1px 7px 2px #1111116e;
}

.DayPicker .DayPicker-Day {
  cursor: pointer;
  transition: all 300ms ease-in;
}

.DayPicker .DayPicker-Day:hover {
  background-color: var(--main-color__30_tr);
}

.DayPicker select[name="month"] {
  margin-right: 1rem;
}
